html{
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
}
a{
  color: inherit;
  display: inline-block;
  text-decoration: none;
}
ul, ol{
  margin: 0;
  padding: 0;
  list-style: none;
}
li{
  display: inline-block;
}
button, input, textarea{
  border: none;
  background-color: transparent;
}
button{
  cursor: pointer;
  padding: 0;
}
textarea{
  resize: none;
}
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}
body, html{
  min-height: 100%;
  height: 100%;
  overflow-x: hidden;
}
body{
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: $text;
}
main{
  flex-grow: 1;
}
.container{
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.theme{
  color: $lilac;
  font-size: 15px;
  position: relative;
  padding-left: 20px;
  &::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  &.theme-wp{
    &::before{
      background-image: url(../images/icons/wordpress.svg);
      width: 16px;
      height: 16px;
    }
  }
  &.theme-psd{
    &::before{
      background-image: url(../images/icons/psd-icon.svg);
      width: 13px;
      height: 17px;
    }
  }
  &.theme-html{
    &::before{
      background-image: url(../images/icons/html-icon.png);
      width: 15px;
      height: 17px;
    }
  }
}
.arrow-bottom{
  &::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 8px solid transparent;
    transition: all .3s;
  }
  &:hover{
    &::before{
      border-bottom-color: $blue;
    }
  }
}
.item{
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  overflow: hidden;
  &__author{
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #000;
    margin-right: 20px;
    span{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-color: $lilac;
      margin-right: 10px;
      display: inline-block;
    }
  }
  &__likes{
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    &::before{
      content: '\e813';
      font-family: 'Linearicons-Free';
      position: absolute;
      left: 0;
      bottom: 0;
      color: $lilac;
    }
  }
  &__sells{
    position: relative;
    padding-left: 23px;
    color: $blue;
    &::before{
      content: '\e82e';
      font-family: 'Linearicons-Free';
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
  &__price{
    font-size: 15px;
    color: $blue;
    background-color: #e6f1fd;
    padding: 0 18px;
    border-radius: 20px;
    font-weight: 500;
    margin-right: 14px;
  }
  &__about{
    padding: 25px;
  }
  &__title{
    font-weight: 500;
    display: block;
    font-size: 20px;
    color: #000;
    margin-bottom: 15px;
  }
  &__details{
    display: flex;
    margin-bottom: 25px;
  }
  &__info{
    padding: 15px 25px;
    display: flex;
    align-items: center;
    border-top: 1px solid #ececec;
  }
  &__img-info{
    height: 100%;
    background-image: linear-gradient( 270deg, rgb(6,116,236) 0%, rgb(61,94,215) 46%, rgb(115,71,193) 100%);
    transition: all .3s;
    opacity: 0;
  }
  &__img-buttons{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  &__img-btn{
    font-weight: 500;
    color: #fff;
    font-size: 15px;
    padding: 7px 30px;
    border: 1px solid #fff;
    border-radius: 30px;
    transition: all .3s;
    & + &{
      margin-left: 11px;
    }
    &:hover{
      background-color: #fff;
      color: $blue;
    }
  }
  &__img{
    height: 230px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &:hover{
      .item__img-info{
        opacity: 1;
      }
    }
  }
  &__sells{
    margin-left: auto;
  }
}
.slick-arrow{
  position: absolute;
  top: -128px;
  background-color: $lilac;
  font-size: 14px;
  color: #fff;
  height: 45px;
  width: 55px;
}
.slick-next{
  right: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.slick-prev{
  right: 85px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}