@media (max-width: 1200px){
  .advantages__item:hover{
    box-shadow: none;
  }
  .advantages__item{
    padding: 35px 15px 40px;
  }
  .product__controls{
    flex-wrap: wrap;
    padding-left: 20px;
  }
  .product__control-btn{
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .activities__block{
    margin: 0 40px;
  }
}

@media (max-width: 1100px){
  .footer__inner{
    flex-wrap: wrap;
  }
  .footer__top{
    padding: 50px 0;
  }
  .footer__col--about{
    width: 100%;
    margin-bottom: 40px;
  }
  .week-item__info{
    padding: 45px 15px 25px 20px
  }
  .product .item{
    width: calc(50% - 30px);
  }
  .reasons__list{
    grid-template-columns: repeat(2, 1fr);
  }
  .news__inner{
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .news__item{
    width: calc(50% - 30px);
  }
}

@media (max-width: 1000px){
  .menu{
    &__list{
      z-index: 20;
      position: absolute;
      top: 100%;
      background-color: #fff;
      left: -15px;
      right: -15px;
      padding: 0 0 20px;
      border-bottom: 5px solid $blue;
      display: none;
    }
    &__item{
      display: block;
      & + &{
        margin-left: 0;
        border-top: 1px solid $blue;
      }
    }
    &__link{
      display: block;
      text-align: center;
      height: auto;
      line-height: normal;
      font-size: 20px;
      padding: 20px 15px;
    }
    &__btn{
      display: block;
    }
    .header-dropdown{
      position: static;
      padding: 15px 0;
      width: 100%;
      transform: scale(1);
      display: none;
      &.active{
        display: block;
      }
      &__item + li{
        border-top: 1px solid rgba(#000, .2);
      }
      &__link{
        text-align: center;
        font-size: 18px;
        padding: 10px 15px;
      }
    }
  }
  .menu__dropdown,
  .pages-item{
    position: relative;
    &::after{
      content: '\e874';
      position: absolute;
      right: 15px;
      top: 17px;
      font-family: 'Linearicons-Free';
      font-size: 15px;
      color: #000;
      font-weight: 700;
      transition: all .3s;
    }
    &.active{
      &::after{
        transform: rotate(180deg);
      }
    }
  }
  .pages{
    transform: scale(1);
    position: static;
    display: none;
    &.active{
      display: block;
    }
  }
  .week-item__inner{
    flex-direction: column;
  }
  .week-item__img{
    width: 100%;
    min-height: 100%;
    height: 400px;
  }
  .week-item__info{
    padding: 45px 20px 25px;
  }
  .week{
    .slick-slide{
      margin-left: 30px;
    }
    .slick-list{
      margin-left: -30px;
    }
  }
  .feedback__inner{
    flex-direction: column;
  }
  .feedback__box+.feedback__box{
    margin-left: 0;
    margin-top: 30px;
  }
}

@media (max-width: 900px){
  .advantages__inner{
    flex-wrap: wrap;
    margin-left: -30px;
  }
  .advantages__item{
    padding: 0;
    flex-basis: auto;
    width: calc(50% - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
    &:last-child{
      width: 100%;
    }
  }
  .advantages{
    margin-bottom: 60px;
  }
  .week-item__info{
    padding: 20px 15px;
  }
  .activities__inner{
    display: block;
  }
  .activities__half{
    width: 100%;
  }
  .activities__block{
    margin: 0;
    max-width: 100%;
    padding: 0 15px;
  }
}

@media (max-width: 800px){
  .footer__col--list{
    width: 50%;
  }
  .footer__col--subscribe{
    width: 60%;
    margin-top: 30px;
  }
  .footer__form{
    width: 400px;
  }
  .header__btn{
    display: none;
  }
  .offer__title{
    font-size: 40px;
    line-height: 50px;
  }
  .offer__text{
    font-size: 16px;
  }
  .offer__inner{
    min-height: 550px;
  }
  .offer__form{
    padding: 40px 20px;
  }
  .offer__form-btn{
    width: 170px;
  }
  .offer__select{
    width: 160px;
  }
  .offer .jq-selectbox__select{
    padding: 0 40px 0 10px;
  }
  .offer__input{
    width: calc(100% - 160px);
    padding: 0 10px;
  }
  .week-item__img{
    height: 250px;
  }
  .product__controls{
    padding: 10px;
    padding-left: 0;
  }
  .item__about{
    padding: 10px;
  }
  .item__info{
    padding: 15px 10px;
  }
  .item__price{
    padding: 0 5px;
    margin-right: 10px;
  }
  .reasons__item{
    padding: 150px 10px 50px;
  }
  .benefits::before{
    display: none;
  }
  .benefits__inner{
    display: block;
  }
  .benefits__item{
    display: flex;
    align-items: center;
  }
  .benefits__item-img{
    margin-bottom: 0;
    margin-right: 30px;
  }
  .benefits__half{
    width: 100%;
    text-align: left;
    & + &{
      margin-top: 40px;
    }
  }
}

@media (max-width: 700px){
  .product .item{
    width: 100%;
  }
  .item__price{
    padding: 0 18px;
    margin-right: 15px;
  }
  .statistics__inner{
    flex-wrap: wrap;
    margin-left: -30px;
  }
  .statistics__item{
    width: calc(50% - 30px);
    margin-left: 30px;
    margin-bottom: 50px;
  }
  .statistics{
    padding: 80px 0 30px;
  }
  .reasons__item-title{
    font-size: 18px;
  }
  .reasons__text{
    font-size: 14px;
  }
  .reasons__icon{
    font-size: 40px;
  }
  .reasons__item{
    padding: 115px 10px 50px;
  }
  .news{
    .item__title{
      font-size: 18px;
    }
    .item__text{
      font-size: 14px;
      line-height: 25px;
    }
    .item__info{
      flex-wrap: wrap;
    }
    .news__item-time{
      width: 100%;
    }
    .news__item-nums{
      &::before{
        display: none;
      }
    }
    .news__item-messages{
      margin-left: 0;
    }
  } 
}

@media (max-width: 650px){
  .header__options{
    transition: all .3s;
    position: absolute;
    top: 0;
    left: -15px;
    padding-left: 15px;
    height: 0;
    overflow: hidden;
    width: 100%;
    right: 75px;
    background-color: #eef1f3;
    &.active{
      height: 100%;
      overflow: visible;
    }
  }
  .header__icons{
    margin-right: 25px;
    margin-left: auto;
  }
  .header__user{
    margin-right: auto;
  }
  .header__options-btn{
    display: block;
  }
  .header__user-info{
    display: none;
  }
  .header__user-img{
    margin-right: 0;
  }
  .header__form{
    position: absolute;
    top: 100%;
    left: -15px;
    right: -15px;
    display: none;
    z-index: 10;
  }
  .header__form-input{
    width: 100%;
    background-color: #fff;
    height: 60px;
    border-radius: 0;
  }
  .header__form-btn{
    border-radius: 0;
  }
  .header__form-open{
    display: block;
  }
  .header__pin-wrapper{
    position: static;
  }
  .arrow-bottom::before{
    display: none;
  }
  .pin-menu{
    transform: none;
    display: none;
    width: 100%;
    left: 15px;
    right: 0;
    &.active{
      display: block;
    }
  }
  .pin-menu__row{
    justify-content: flex-start;
  }
  .notification__icon{
    margin-left: auto;
  }
  .user__header-dropdown{
    transform: scale(1);
    display: none;
    &.active{
      display: block;
    }
  }
  .offer__form{
    flex-wrap: wrap;
  }
  .offer__form-search{
    margin-bottom: 30px;
  }
  .offer__form-btn{
    width: 50%;
    margin: 0 auto;
  }
  .advantages__item{
    width: 100%;
  }
  .week__title,
  .product__title,
  .feed__title{
    font-size: 25px;
  }
  .product__title,
  .feed__title{
    padding: 0 10px;
  }
  .news{
    .item{
      width: 100%;
    }
    .item__title{
      font-size: 20px;
    }
    .item__text{
      font-size: 15px;
      line-height: 25px;
    }
    .item__info{
      flex-wrap: nowrap;
    }
    .news__item-time{
      width: auto;
    }
    .news__item-nums{
      &::before{
        display: block;
      }
    }
    .news__item-messages{
      margin-left: 32px;
    }
  } 
}

@media (max-width: 600px){
  .footer__col-body{
    display: none;
    padding: 15px;
    border: 1px solid #fff;
    border-top: none;
  }
  .footer__col{
    width: 100%;
    & + &{
      margin-top: 40px;
    }
  }
  .footer__col-title{
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 4px;
    margin: 0;
    position: relative;
    cursor: pointer;
    &::after{
      content: '\e874';
      font-family: 'Linearicons-Free';
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 14px;
      transition: all .3s;
    }
    &.active{
      &::after{
        transform: translateY(-50%) rotate(180deg)
      }
    }
  }
  .footer__col--subscribe{
    margin-top: 0;
  }
  .footer__col--about{
    margin-bottom: 0;
  }
  .footer__form{
    width: 100%;
    margin-bottom: 30px;
  }
  .footer__col-link{
    display: block;
  }
  .week__title{
    padding: 0 10px;
  }
  .product__filter{
    span{
      display: none;
    }
  }
  .reasons__list{
    grid-template-columns: 1fr;
  }
  .reasons__icon{
    font-size: 60px;
  }
  .reasons__item {
    padding: 135px 10px 50px;
  }
  .reasons,
  .news{
    padding: 60px 0;
  }
}

@media (max-width: 500px){
  .pages__list{
    column-count: 1;
    column-gap: auto;
    height: auto;
  }
  .pages__list-wrapper--small{
    max-width: 100%;
  }
  .pages__inner{
    display: block;
  }
  .pages__list-link{
    font-size: 18px;
    display: block;
    padding: 10px 0;
  }
  .pages__title{
    font-size: 20px;
  }
  .cart__row{
    padding: 25px 10px;
  }
  .header__user{
    position: static;
  }
  .header-dropdown.user__header-dropdown{
    width: 100%;
    left: 15px;
    right: 0;
  }
  .offer__title{
    font-size: 30px;
    line-height: 40px;
  }
  .offer__text{
    font-size: 14px;
  }
  .offer__btn{
    width: 100%;
    margin: 0;
    & + &{
      margin-top: 20px;
    }
  }
  .offer__form{
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 0;
    padding: 20px 15px;
    &::before,
    &::after{
      display: none;
    }
  }
  .offer__form-search{
    flex-direction: column;
  }
  .offer__input{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
  }
  .offer__select{
    width: 100%;
  }
  .offer .jq-selectbox__select{
    border-left: 1px solid #dcdcdc;
    border-radius: 4px;
  }
  .offer .jq-selectbox__select-text{
    line-height: 50px;
  }
  .offer .jq-selectbox__dropdown{
    left: 0;
  }
  .offer .jq-selectbox.focused .jq-selectbox__select{
    border: 1px solid #dcdcdc;
  }
  .offer__form-btn{
    width: 100%;
  }
  .offer{
    margin-bottom: 0;
  }
  .product__control-btn{
    font-size: 12px;
    line-height: 25px;
  }
  .activities__half{
    padding: 50px 0;
  }
  .activities__title{
    font-size: 30px;
  }
  .feedback__box{
    padding: 50px 15px 40px;
  }
  .feedback__author::after{
    font-size: 30px;
  }
  .feedback__author{
    padding-right: 40px;
  } 
  .feedback__author-name{
    font-size: 18px;
  }
  .feedback__author-img{
    width: 60px;
    height: 60px;
  }
  .benefits__item{
    display: block;
    text-align: center;
  }
  .benefits__item-img{
    margin-right: 0;
    margin-bottom: 30px;
  }
  .join__title{
    font-size: 25px;
  }
  .join__text{
    font-size: 15px;
  }
}

@media (max-width: 400px){
  .logo{
    max-width: 150px;
    &__img{
      max-width: 100%;
    }
  }
  .header__icons{
    margin-left: 0;
  }
  .pin-menu__row-img{
    display: none;
  }
  .notification,
  .message{
    padding: 20px 10px 0;
  }
  .cart__img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .cart__title{
    font-size: 14px;
  }
  .week-item__title{
    font-size: 20px;
  }
  .week-item__details{
    margin-bottom: 20px;
  }
  .week-item__text{
    font-size: 14px;
  }
  .week-item__tags{
    margin-bottom: 20px;
    flex-wrap: wrap;
    margin-left: -7px;
  }
  .week-item__tag{
    margin-left: 7px;
    margin-bottom: 7px;
  }
  .week-item__about{
    flex-wrap: wrap;
  }
  .week-item__about-data{
    width: 100%;
    margin-bottom: 20px;
  }
  .item__price{
    padding: 0 5px;
    margin-right: 10px;
  }
  .item__info{
    flex-wrap: wrap;
  }
  .star-wrapper{
    order: 1;
    width: 100%;
    margin-top: 10px;
  }
  .item__img-info{
    display: none;
  }
  .item__details{
    margin-bottom: 15px;
  }
  .item__text{
    font-size: 14px;
    line-height: 25px;
  }
  .item__title{
    font-size: 17px;
  }
  .statistics__item{
    width: 100%;
    margin-left: 30px;
    margin-bottom: 50px;
  }
  .activities__text{
    text-align: justify;
  }
  .activities__link{
    width: 100%;
  }
  .feedback__author::after{
    display: none;
  }
  .feedback__author{
    padding-right: 0;
  }
  .feedback__box{
    padding: 20px 10px;
  }
  .feedback{
    padding: 60px 0;
  } 
  .feedback__link,
  .join__link{
    width: 100%;
  }
  .news .news__item-nums::before{
    display: none;
  }
  .news__item-messages, .news__item-views{
    margin-left: 20px;
  }
}


@media (min-width: 1001px){
  .menu__list{
    display: block !important;
  }
}

@media (min-width: 650px){
  .header__form{
    display: block !important;
  }
}

@media (min-width: 600px){
  .footer__col-body{
    display: block !important;
  }
  .footer__col-title{
    pointer-events: none;
  }
}