@media (max-width: 1100px){
  .footer__inner{
    flex-wrap: wrap;
  }
  .footer__top{
    padding: 50px 0;
  }
  .footer__col--about{
    width: 100%;
    margin-bottom: 40px;
  }
}

@media (max-width: 800px){
  .footer__col--list{
    width: 50%;
  }
  .footer__col--subscribe{
    width: 60%;
    margin-top: 30px;
  }
  .footer__form{
    width: 400px;
  }
}

@media (max-width: 600px){
  .footer__col-body{
    display: none;
    padding: 15px;
    border: 1px solid #fff;
    border-top: none;
  }
  .footer__col{
    width: 100%;
    & + &{
      margin-top: 40px;
    }
  }
  .footer__col-title{
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 4px;
    margin: 0;
    position: relative;
    cursor: pointer;
    &::after{
      content: '\e874';
      font-family: 'Linearicons-Free';
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 14px;
      transition: all .3s;
    }
    &.active{
      &::after{
        transform: translateY(-50%) rotate(180deg)
      }
    }
  }
  .footer__col--subscribe{
    margin-top: 0;
  }
  .footer__col--about{
    margin-bottom: 0;
  }
  .footer__form{
    width: 100%;
    margin-bottom: 30px;
  }
  .footer__col-link{
    display: block;
  }
}

@media (min-width: 601px){
  .footer__col-body{
    display: block !important;
  }
  .footer__col-title{
    pointer-events: none;
  }
}