$text: #555;
$dark: #333;
$blue: #0674ec;
$gray: #eff1f5;
$light-gray: #f6f7fb;
$lilac: #7347c1;
$white: #f3f3f8;

%btn{
  color: #fff;
  font-size: 14px;
  line-height: 28px;
  padding: 4px 18px;
  background-color: $blue;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

%title-block{
  font-size: 30px;
  line-height: normal;
  color: #000;
  text-transform: capitalize;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  padding: 0 185px 0 30px;
  margin-bottom: 50px;
  min-height: 110px;
  display: flex;
  align-items: center;
}
